{% extends "base.html" %}

{% block title %}Сбросить пароль{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Сбросить пароль</h1>
            <p class="card-text">Мы отправили вам инструкции по установке нового пароля.</p>
            <p class="card-text">Если вы не получили письмо, убедитесь, что введенный вами адрес соответствует зарегистрированному.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
