<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cuba Libre{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Add your custom styles here -->
</head>
<body>

    {% include "includes/header.html" %}

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
          <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Категории</h5>
                        <ul class="list-group">
                            <li class="list-group-item {% if section == "guides" %}selected{% endif %}"><a href="{% url 'guides:guide_list' %}" class="nav-link">Гиды</a></li>
                            <li class="list-group-item {% if section == "car_rental" %}selected{% endif %}"><a href="{% url 'car_rental:car_list' %}" class="nav-link">Прокат автомобилей</a></li>
                            <li class="list-group-item {% if section == "housing" %}selected{% endif %}"><a href="{% url 'housing:property_list' %}" class="nav-link">Жилье</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
